html {
    font-family: Roboto, sans-serif;
    overflow-wrap:break-word;
}

body {
    height: 100%;
    margin-top: 70px;
    background-color: rgba(30,30,30,1);
    font-family: Roboto, sans-serif;
    text-align: center;
}
.btn {
    float: right;
}
#webdev{
    text-decoration: none;
    color: black;
}
#webdev:hover{
    color: #006592;
}
#tirebutton:hover{
    background-color: #8d755d;
}
#tirebutton{
    background-color: rgba(87,71,60,0.98);
    float: none;
    border-color: black;
}
#usedVicButton{
    background-color: rgba(79,41,132,0.84);
    float: none;
    border-color: black;
}
#usedVicButton:hover{
    background-color: rgba(139, 52, 203, 0.84);
}
#webDevButton{
    background-color: rgba(0, 123, 188, 0.98);
    float: none;
    border-color: black;
}
#webDevButton:hover{
    background-color: rgba(0,172,255,0.98);
}
.footer {
    padding-top: 8px;
    background-color: #f5f5f5;
}
.navbar-light .navbar-toggler{
    border-color: #575757;
}
.card {
    border-radius: 50px;
    background-color: #e9ecef;
    margin-top: 10px;
}
.card-img-top {
    height: 200px;
}
#clickContact:hover{
    background-color: rgba(85, 223, 255, 0.6);
}
#clickContact{
    background-color: rgba(0, 184, 255, 0.34);
    border-color: #404040;
}
.card-body {
    height: 100%;
    padding: 0.9rem;
}
.carousel-caption {
    background-color: rgba(43,43,43,0.85);
    border-radius: 10px;
    bottom: 25%;
}
.d-block {
    height: 400px;
}
#search {
    padding-left: 400px;
}
#serviceTitle{
    padding-top: 8px;
    padding-bottom: 8px;
}
#tiresjumbo{
    background-image: url("images/tires.jpg");
    background-size: cover;
    height: 200px;
}
.service {
    width: 70%;
    align-self: center;
    border-radius: 50px;
    height: 120px;
}
.tires {
    height: 200px;
    width: 95%;
    align-self: center;
    border-radius: 5px;
}
.slideh1 {
    text-shadow: 1px 1px #ff0000;
}
#logo {
    width: 100%;
    max-width: 60px;
    max-height: 60px;
}
#logoname {
    padding-left: 12px;
    padding-right: 40px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
}
.navbar-brand {
    padding-top: 0;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 1000;
}
h5 {
    color: black;
}
.nav-item {
    background-color: rgba(36, 33, 43, 0.25);
    color: black;
    height: 45px;
    border-radius: 30px;
    width: 180px;
    margin: 3px;

}

.nav-item:hover {
    background-color: rgba(175, 115, 0, 0.4);
}
#current {
    background-color: rgba(255, 5, 4, 0.75);
    border-color: #000000;
}
.dropdown-item:hover {
    background-color: rgba(175, 115, 0, 0.4);
    border: thin #000000;
    border-radius: 10px;
}
.dropdown-item {
    text-align: center;
}
.dropdown-menu {
    max-height:400px;
}
.nav-link {
    padding: 10px;
    color: #000000;
}
#tuneupJumbo{
    background-image: url("images/tuneupcover.jpg");
    background-size: cover;
}
#oilJumbo{
    background-image: url("images/oilchange.jpg");
    background-size: cover;
}
#tirechangeJumbo{
    background-image: url("images/tireshelf.jpg");
    background-size: cover;
}
#transmissionJumbo{
    background-image: url("images/trans.jpg");
    background-size: cover;
}
#coolingJumbo{
    background-image: url("images/coolingandheat.jpg");
    background-size: cover;
}
#brakesJumbo{
    background-image: url("images/brakesjumbo.png");
    background-size: cover;
}
#exhaustJumbo{
    background-image: url("images/exhaustting.jpg");
    background-size: cover;
}
#enginereplacementJumbo{
    background-image: url("images/enginereplacement.jpg");
    background-size: cover;
}
.tireIcons{
    border: solid 1px rgba(190,190,190,.35);
    border-top: 0;
    border-bottom: 0;
}

@media screen and (max-width: 575px) {
    .services{
        height: 100px;
        width: 60%;
    }
}
@media screen and (max-width: 800px) {
    footer {
        font-size: 0.7em;
    }
    #logoname {
        font-size: 0.9em;
    }
    #navbarSupportedContent {
        width: 33em;
        background-color: #f8f9fa;
        padding: 2em;
        text-align: center;
    }
    .navbar-toggler {
        position: fixed;
        right: 0;
    }
    .nav-item {
        width: 200px;
    }
    .dropdown-menu.show {
        max-height:400px;
        margin-left: 50px;
    }
    .d-block{
        height: 200px;
    }
    .btn {
        margin-top: 10px;
        float: none;
    }
    .slideh1 {
        font-size: larger;
    }
    .slideh3{
        font-size: large;
    }
}
@media screen and (max-width: 991px) { /* breakpoint */
    .navbar-toggler {
        position: fixed;
        right: 0;
        margin-right: 10px;
    }
    #navbarSupportedContent {
        background-color: #f8f9fa;
        margin-left: 0;
        border-radius: 20px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 15px;

    }
    .navbar-nav {
        text-align: center;
        display: inline-block;
        margin-top: -20px;

    }
    .nav-item {
        width: 250px;
    }
    .dropdown-menu.show {
        max-height:400px;
        margin-left: 26px;
    }

}
@media screen and (max-width: 1150px) and (min-width: 992px) { /* adjuster */
    #logoname {
        padding-right: 60px;
    }
    .dropdown-menu{
        max-height:400px;
    }
    .nav-item{
        max-width: 128px;
    }
}
