
#tiresjumbo{
    background-image: url("../images/tires.jpg");
    background-size: cover;
    height: 200px;
}
.tires {
    height: 200px;
    width: 95%;
    align-self: center;
    border-radius: 50px;
}
.alert-primary{
    border-radius: 50px;
    color: black;
}
.card {
    min-height: 250px;
}
.tirecard {
    min-height: 380px;
}
.list-group-item{
    background-color: #e9ecef;
    margin-left: 80px;
    margin-right: 80px;
}
#tirebutton:hover{
    background-color: #8d755d;
}
#tirebutton{
    background-color: rgba(87,71,60,0.98);
    float: none;
    border-color: black;
}